{
  "openapi": "3.1.0",
  "info": {
    "title": "Veil",
    "version": "0.1.0",
    "description": "Agent credential broker. Use injects the secret at the edge. Responses never include vault material. CLI, MCP, and generated SDKs are projections of this contract."
  },
  "servers": [
    { "url": "https://veil.nyc" }
  ],
  "tags": [
    { "name": "Agent", "description": "Bearer is the agent. listItems is metadata. useItem injects. Never GetSecret." },
    { "name": "Owner", "description": "Bearer is a Keto member human. Create items and grants. Secret may be sent, never returned." }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": ["Agent"],
        "security": [],
        "summary": "Liveness. No secrets.",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/plain": {
                "schema": { "type": "string", "examples": ["ok\n"] }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "tags": ["Agent"],
        "security": [],
        "summary": "This contract.",
        "responses": {
          "200": {
            "description": "OpenAPI document",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/v1/items": {
      "get": {
        "operationId": "listItems",
        "tags": ["Agent"],
        "summary": "Items this principal may see. Agent: granted. Human: the org. Names and URIs. Never secrets.",
        "responses": {
          "200": {
            "description": "Items",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ItemsResponse" }
              }
            }
          },
          "401": { "description": "missing or invalid Bearer" }
        }
      },
      "post": {
        "operationId": "createItem",
        "tags": ["Owner"],
        "summary": "Create an item. Secret is in the request over TLS. Never in the response. Not MCP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateItemRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item metadata. No secret.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Item" }
              }
            }
          },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot create items" }
        }
      }
    },
    "/v1/items/{name}": {
      "patch": {
        "operationId": "updateItem",
        "tags": ["Owner"],
        "summary": "Replace URIs and tags. No secret.",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateItemRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Item" }
              }
            }
          },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot update items" }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "tags": ["Owner"],
        "summary": "Remove the item and its grants. Not MCP.",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "deleted" },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot delete items" }
        }
      }
    },
    "/v1/items/{name}/archive": {
      "post": {
        "operationId": "archiveItem",
        "tags": ["Owner"],
        "summary": "Hide from Use and list. History stays.",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "archived" },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot archive items" }
        }
      }
    },
    "/v1/grants": {
      "get": {
        "operationId": "listGrants",
        "tags": ["Owner"],
        "summary": "Grants in this org. No secrets. Not MCP.",
        "responses": {
          "200": {
            "description": "Grants",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrantsResponse" }
              }
            }
          },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot list grants" }
        }
      },
      "post": {
        "operationId": "createGrant",
        "tags": ["Owner"],
        "summary": "Grant an agent Use on an item. Not MCP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateGrantRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Grant" }
              }
            }
          },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" },
          "403": { "description": "agent cannot create grants" }
        }
      }
    },
    "/v1/use": {
      "post": {
        "operationId": "useItem",
        "tags": ["Agent"],
        "summary": "Call a URL as this agent. The broker injects the credential. The vault secret is never in the response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UseRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision plus upstream result, scrubbed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UseResponse" }
              }
            }
          },
          "400": { "description": "bad request" },
          "401": { "description": "missing or invalid Bearer" }
        }
      }
    },
    "/v1/events": {
      "get": {
        "operationId": "listEvents",
        "tags": ["Agent"],
        "summary": "This agent's grant events. Decision, item, action. Never secrets. Not MCP.",
        "responses": {
          "200": {
            "description": "Recent events for the Bearer agent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsResponse" }
              }
            }
          },
          "401": { "description": "missing or invalid Bearer" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Hydra JWT. Identity is the bound agent or a Keto member human. The host is not identity."
      }
    },
    "schemas": {
      "Item": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "org_id": { "type": "string" },
          "name": { "type": "string" },
          "kind": { "type": "string", "enum": ["api_key", "oauth", "ssh", "file"] },
          "owner": { "$ref": "#/components/schemas/Owner" },
          "uris": { "type": "array", "items": { "type": "string" } },
          "tags": { "type": "array", "items": { "type": "string" } },
          "archived": { "type": "boolean" },
          "has_totp": { "type": "boolean" },
          "has_file": { "type": "boolean" }
        },
        "required": ["id", "org_id", "name", "kind", "owner", "uris"]
      },
      "Owner": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "kind": { "type": "string" },
          "id": { "type": "string" }
        },
        "required": ["kind", "id"]
      },
      "ItemsResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Item" }
          }
        }
      },
      "UseRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["item", "url"],
        "properties": {
          "item": { "type": "string", "description": "Granted item name" },
          "url": { "type": "string", "description": "Absolute URL. Host must match the item." },
          "method": { "type": "string", "default": "GET" },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Extra request headers. Never the vault secret."
          },
          "body": { "type": "string", "description": "Request body. Never the vault secret. Use --body-file on the CLI." }
        }
      },
      "UseResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["decision"],
        "properties": {
          "decision": { "type": "string", "enum": ["allow", "deny", "need_approval"] },
          "reason": { "type": "string" },
          "approval_id": { "type": "string" },
          "status": { "type": "integer" },
          "body": { "type": "string", "description": "Upstream body with vault secrets scrubbed." }
        }
      },
      "AuditEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": ["time", "org_id", "agent_id", "item_id", "action", "decision"],
        "properties": {
          "time": { "type": "string", "format": "date-time" },
          "org_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "item_id": { "type": "string" },
          "action": { "type": "string" },
          "decision": { "type": "string", "enum": ["allow", "deny", "need_approval"] },
          "reason": { "type": "string" },
          "approval_id": { "type": "string" }
        }
      },
      "EventsResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["events"],
        "properties": {
          "events": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AuditEvent" }
          }
        }
      },
      "CreateItemRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name"],
        "properties": {
          "name": { "type": "string" },
          "uri": { "type": "string" },
          "uris": { "type": "array", "items": { "type": "string" } },
          "tags": { "type": "array", "items": { "type": "string" } },
          "kind": { "type": "string", "enum": ["api_key", "oauth", "ssh", "file"] },
          "secret": { "type": "string", "description": "Vault material. Request only. Never returned." },
          "totp_seed": { "type": "string", "description": "TOTP seed. Request only. Never returned." }
        }
      },
      "UpdateItemRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "uri": { "type": "string" },
          "uris": { "type": "array", "items": { "type": "string" } },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CreateGrantRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["agent", "item", "level"],
        "properties": {
          "agent": { "type": "string" },
          "item": { "type": "string" },
          "level": { "type": "string", "enum": ["level1", "level2"] },
          "expires": { "type": "string", "description": "Go duration. Empty is forever." }
        }
      },
      "Grant": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "org_id", "agent_id", "item_id", "level"],
        "properties": {
          "id": { "type": "string" },
          "org_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "item_id": { "type": "string" },
          "level": { "type": "string" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "GrantsResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["grants"],
        "properties": {
          "grants": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Grant" }
          }
        }
      }
    }
  }
}
