openapi: 3.1.0
info:
  description: "Agent credential broker. Use injects the secret at the edge. Responses\
    \ never include vault material. CLI, MCP, and generated SDKs are projections of\
    \ this contract."
  title: Veil
  version: 0.1.0
servers:
- url: https://veil.nyc
security:
- bearerAuth: []
tags:
- description: Bearer is the agent. listItems is metadata. useItem injects. Never
    GetSecret.
  name: Agent
paths:
  /health:
    get:
      operationId: getHealth
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: ok
      security: []
      summary: Liveness. No secrets.
      tags:
      - Agent
  /openapi.json:
    get:
      operationId: getOpenApi
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OpenAPI document
      security: []
      summary: This contract.
      tags:
      - Agent
  /v1/items:
    get:
      operationId: listItems
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsResponse"
          description: Granted items
        "401":
          description: missing or invalid Bearer
      summary: Items this agent may Use. Names and URIs. Never secrets.
      tags:
      - Agent
  /v1/use:
    post:
      operationId: useItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UseRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UseResponse"
          description: "Decision plus upstream result, scrubbed"
        "400":
          description: bad request
        "401":
          description: missing or invalid Bearer
      summary: Call a URL as this agent. The broker injects the credential. The vault
        secret is never in the response.
      tags:
      - Agent
  /v1/events:
    get:
      operationId: listEvents
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsResponse"
          description: Recent events for the Bearer agent
        "401":
          description: missing or invalid Bearer
      summary: "This agent's grant events. Decision, item, action. Never secrets.\
        \ Not MCP."
      tags:
      - Agent
components:
  schemas:
    Item:
      additionalProperties: false
      example:
        id: id
        org_id: org_id
        name: name
        kind: api_key
        owner:
          kind: kind
          id: id
        uris:
        - uris
        - uris
        tags:
        - tags
        - tags
        archived: true
        has_totp: true
        has_file: true
      properties:
        id:
          type: string
        org_id:
          type: string
        name:
          type: string
        kind:
          enum:
          - api_key
          - oauth
          - ssh
          - file
          type: string
        owner:
          $ref: "#/components/schemas/Owner"
        uris:
          items:
            type: string
          type: array
          default: null
        tags:
          items:
            type: string
          type: array
          default: null
        archived:
          type: boolean
        has_totp:
          type: boolean
        has_file:
          type: boolean
      required:
      - id
      - kind
      - name
      - org_id
      - owner
      - uris
    Owner:
      additionalProperties: false
      example:
        kind: kind
        id: id
      properties:
        kind:
          type: string
        id:
          type: string
      required:
      - id
      - kind
    ItemsResponse:
      additionalProperties: false
      example:
        items:
        - id: id
          org_id: org_id
          name: name
          kind: api_key
          owner:
            kind: kind
            id: id
          uris:
          - uris
          - uris
          tags:
          - tags
          - tags
          archived: true
          has_totp: true
          has_file: true
        - id: id
          org_id: org_id
          name: name
          kind: api_key
          owner:
            kind: kind
            id: id
          uris:
          - uris
          - uris
          tags:
          - tags
          - tags
          archived: true
          has_totp: true
          has_file: true
      properties:
        items:
          items:
            $ref: "#/components/schemas/Item"
          type: array
          default: null
      required:
      - items
    UseRequest:
      additionalProperties: false
      example:
        item: item
        url: url
        method: GET
        headers:
          key: headers
        body: body
      properties:
        item:
          description: Granted item name
          type: string
        url:
          description: Absolute URL. Host must match the item.
          type: string
        method:
          default: GET
          type: string
        headers:
          additionalProperties:
            type: string
          description: Extra request headers. Never the vault secret.
        body:
          description: Request body. Never the vault secret. Use --body-file on the
            CLI.
          type: string
      required:
      - item
      - url
    UseResponse:
      additionalProperties: false
      example:
        decision: allow
        reason: reason
        approval_id: approval_id
        status: 0
        body: body
      properties:
        decision:
          enum:
          - allow
          - deny
          - need_approval
          type: string
        reason:
          type: string
        approval_id:
          type: string
        status:
          type: integer
        body:
          description: Upstream body with vault secrets scrubbed.
          type: string
      required:
      - decision
    AuditEvent:
      additionalProperties: false
      example:
        time: 2000-01-23T04:56:07.000+00:00
        org_id: org_id
        agent_id: agent_id
        item_id: item_id
        action: action
        decision: allow
        reason: reason
        approval_id: approval_id
      properties:
        time:
          format: date-time
          type: string
        org_id:
          type: string
        agent_id:
          type: string
        item_id:
          type: string
        action:
          type: string
        decision:
          enum:
          - allow
          - deny
          - need_approval
          type: string
        reason:
          type: string
        approval_id:
          type: string
      required:
      - action
      - agent_id
      - decision
      - item_id
      - org_id
      - time
    EventsResponse:
      additionalProperties: false
      example:
        events:
        - time: 2000-01-23T04:56:07.000+00:00
          org_id: org_id
          agent_id: agent_id
          item_id: item_id
          action: action
          decision: allow
          reason: reason
          approval_id: approval_id
        - time: 2000-01-23T04:56:07.000+00:00
          org_id: org_id
          agent_id: agent_id
          item_id: item_id
          action: action
          decision: allow
          reason: reason
          approval_id: approval_id
      properties:
        events:
          items:
            $ref: "#/components/schemas/AuditEvent"
          type: array
          default: null
      required:
      - events
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: Hydra client_credentials JWT or bound OIDC. Identity is the agent.
        The host is not identity.
      scheme: bearer
      type: http
